tgcrypto
pytz
psutil
motor
dnspython
GitPython
pykeyboard
bs4
pyrogram==2.0.106
Pillow==9.5.0
pymediainfo
opencv-python-headless 
py-tgcalls==2.0.6
requests
unidecode
pytimeparse
attrify
pySmartDL
html2text
removebg
aiofiles
aiohttp
gpytranslate
gtts
telegraph
pyromod
youtube-search-python
pymongo
yt-dlp==2023.03.04
wget
python-dateutil
youtubesearchpython
emoji
heroku3
uvloop
ffmpeg
aria2c
google-search-results
