tgcrypto
pytz
psutil
motor
dnspython
GitPython
pykeyboard
bs4
pyrogram==2.0.117
Pillow==9.5.0
pymediainfo
opencv-python-headless 
py-tgcalls==2.1.0
requests==2.31.0
unidecode
pytimeparse
attrify
pySmartDL
html2text
removebg
aiofiles
aiohttp==3.9.1
gpytranslate
gtts
telegraph
pyromod==1.5
youtube-search-python
pymongo
yt-dlp==2023.03.04
wget
python-dateutil
youtubesearchpython==1.6.7
emoji
heroku3
uvloop
ffmpeg
aria2c
google-search-results
